langchain_ollama
llama-index-core
llama-parse
llama-index-readers-file
python-dotenv
langchain-text-splitters
langchain_google_community
langchain-experimental
langchain_qdrant
cohere
langchain_cohere
uvicorn
fastapi
fastembed
langchain
neo4j