langchain-chroma
langchain_ollama
llama-index-core 
llama-parse 
llama-index-readers-file 
python-dotenv
langchain-text-splitters
langchain_google_community
langchain-experimental
langchain_qdrant
cohere==5.13.3
langchain_cohere==5.13.3
uvicorn==0.32.1
fastapi==0.115.5